.sales__page-content {
    padding-top: 80px;
    margin-bottom: 64px;
}
.sales-slide {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    margin-bottom: 0;
}
.sales__page-items .col-12 {
    margin-bottom: 24px;
}
@media (max-width: 576px) {
    .sales__page-content {
        padding-top: 60px;
    }
}